{
    "port": 3000,
    "db": {
        "type": "mongo",
        "url": "mongodb://127.0.0.1:27017/checkers-be"
    },
    "logger": {
        "path": "logs",
        "filename": "checkers-game.log"
    },
    "baseUrl": "/api/v1/",
    "mail": {
        "from" : "user@gmail.com",
        "transport_options" : {
            "host"    : "smpt.gmail.com",
            "service" : "Gmail",
            "auth"    : {
                "user" : "user@gmail.com",
                "pass" : "password"
            }
        }
    },
    "secretKey": "Sample_Key",
    "saltRounds": 12,
    "minPasswordLength": 6,
    "uiUrl": "http://localhost"
}